body, html {
    height: 100%;
}

.center-box {
    width: 80%;
    margin: 6.75% auto;
}


.center-box label {
    display: block;
    font-family: "Open Sans", arial, sans-serif;
    padding: 10px 0 0;
    margin-left: 12px;
    color: #d5bba4;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: small;
}

.narrow {
    width: 340px;
}


/*  Style for buttons  */
.button {
    display: block;
    margin-top: 2.5em;
    padding: 1.5em;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
}

.button:hover, .button:active, .button:focus {
    color: #f2f2f2;
    border-color: rgba(0, 0, 0, 0);
    background: #888;
}

.button-start {
    display: block;
    padding: 10px 25px;
    font-family: "News Cycle", "Open Sans", arial, sans-serif;
    border: 1px solid #888;
    text-transform: uppercase;
    letter-spacing: 0.015em;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #888;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
    margin: 30px auto;
    background: #fff;
}

#button-start:hover, #button-start:active, #button-start:focus {
    color: #FFF;
    border-color: rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(left, rgb(246, 177, 73), rgb(248, 87, 45), rgb(223, 42, 51), rgb(162, 37, 67), rgb(107, 49, 45));
    background: linear-gradient(to right, rgb(246, 177, 73), rgb(248, 87, 45), rgb(223, 42, 51), rgb(162, 37, 67), rgb(107, 49, 45));
}



/* Main title CSS */
#main-title h1 {
    text-align: center;
    font-family: "Open Sans", arial, sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: #63666a;
    line-height: 1.375;
    display: none;
}

#main-title img {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.caption {
    text-align: center;
    font-family: "Open Sans", arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #63666a;
    line-height: 1.5;
}

.small {
    font-size: 13px;
}

.top-padding {
    padding-top: 25%;
}



#start:hover {
    background-color: #682566;
    color: #fff;
}

#save:hover {
    background-color: #EC7263;
    color: #fff;
}

#load:hover {
    background-color: #EC4863;
    color: #fff;
}

/*  style for canvas */
#color-canvas {
    height: 100%;
}

#color-code {
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
	color: #7c674e;
	opacity: 0.3;
    font: 60px "Open Sans";


    position: absolute;
    bottom: 15px;
    left: 0;
}

.palette {
    height: 100%;
    width: 15.8%;
    position: absolute;
}

#color-detail {
    text-align: center;
    margin: 88% auto;
    width: 65%;
    padding-top: 12px;
    padding-bottom: 4px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
    color: #fff;
    font-family: "Open Sans", arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.3px;
}

#color-detail p {
    margin-bottom: 10px;
}

#cross {
   width: 25px;
   height: 25px;
   position: relative;
    margin: auto;

  -webkit-transform: rotate(45deg);
  cursor: pointer;
}

#cross:before, #cross:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: rgba(0,0,0,0.9);
}

#cross:before {
  left: 50%;
  width: 10%;
  margin-left: -6%;
  height: 100%;
}

#cross:after {
  top: 60%;
  height: 10%;
  margin-top: -15%;
  width: 100%;
}


#action-bar {
    border-radius: 6px;
    display: none;

    position: absolute;
    top: 10px;
    right: 10px;
}

#action-bar li {
    display: inline-block;
    padding: 10px 25px;
    font-family: "News Cycle", "Open Sans", arial, sans-serif;
    border: 1px solid #FFF;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #FFF;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
    margin: 10px
}

#action-bar li:hover, #action-bar li:active, #action-bar:focus {
    color: #888;
  border-color: rgba(0, 0, 0, 0);
  background: #FFF;
}


/* Style for Load / Save panel */
#color-save-box, #color-load-box {
    background: #F2F2F2;
    padding-bottom: 1%;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10%;
    z-index: 100;

    display: none;
}


#color-save-box h1, #color-load-box h1, #touch-box h1 {
    font-family: "Lato", sans-serif;

    margin: 0;
    padding: 0.4em 0 0.3em;
    text-align: center;
    font-weight: 300;
    font-size: 3.5em;
    color: #888;
}

#color-save-box input {
    padding: 10px;
    display: block;
    margin: 0 auto;
    width: 85%;
    border: 2px solid #ebd3bd;
    background: transparent;
    color: #b09a86;
    font-weight: 300;
    font-size: 1.75em;
    font-family: "Lato", sans-serif;

    outline: none;

    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

#color-load-box li {
    display: block;
    font-family: "Open Sans", arial, sans-serif;
    padding: 10px 0 0;
    margin-left: 10%;
    color: #d5bba4;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    .palette p {
        font-size: small;
    }

    #color-code {
        font-size: 50px;
    }
}
