$back-color : red;
$height : 43px;
$width : 200px;


body, html {
    height: 100%;
}

body {
    background: #d3d3d3;
}

#click-menu {
    background : $back-color;
    height: $height;
    width: $width;
    display: none;
}

